table, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    margin: auto;
    width: 350px;
    height: 500px;
}

td{
    height: 30px;
    font-size: 20px;
    text-align: center;
}

#screen{
    background-color: black;
    color: white;
    text-align: right;
}

.veiksmas{
    background-color: dodgerblue;
}

#lygu{
    background-color: orange;
}

td:hover{
    background-color: lightgray;
}

.veiksmas:hover{
    background-color: darkblue;
}

#lygu:hover{
    background-color: darkorange;
}

#atsakymas{
    margin-top: 100px;
    width: 350px;
}

#atsakymas tr th{
    background-color: blue;
    height: 10px;
    border: 1px solid black;

}

#atsakymas tr, th, td{
    height: 10px;
}

#sort:hover{
    background-color: darkblue;
}