table, td, tr{
    border: 1px solid black;
    border-collapse: collapse;
}

table{
    margin: auto;
    width: 350px;
    height: 500px;
}

td{
    height: 30px;
    font-size: 20px;
    text-align: center;
}

#screen{
    background-color: black;
    color: white;
    text-align: right;
}

.veiksmas{
    background-color: dodgerblue;
}

#lygu{
    background-color: darkorange;
}